*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

/* reset above */

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 4em;
  background-image: url(images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-color: hsl(230, 100%, 99%);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.header {
  background-image: url(images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  h1 {
    font-size: xx-large;
    color: hsl(227, 35%, 25%);
    font-weight: 800;
  }
  p {
    font-size: medium;
    color: hsl(225, 20%, 60%);
  }
}

.main-card {
  border: 2px solid black;
  /* remove border */
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 3em;
}

.button-section {
  display: flex;
  gap: 5em;
  align-items: center;
  padding-top: 3em;
  .checks {
    display: flex;
    flex-direction: column;
    color: hsl(225, 20%, 60%);
    font-size: 12px;
    font-weight: 600;
    gap: 7px;
    .single-check {
      display: flex;
      gap: 15px;
      align-items: center;
      img {
        max-height: 10px;
      }
    }
  }
  button {
    min-block-size: 2.5em;
    padding-left: 2.25em;
    padding-right: 2.25em;
    font-size: 12px;
    font-weight: 600;
    color: hsl(227, 30%, 76%);
    background-color: hsl(227, 35%, 25%);
    border-radius: 15px;
  }
  button:hover {
    cursor: pointer;
    color: hsl(0, 0%, 100%);
  }
}
